/*  ==========================================================================
    Base                                                    
    ==========================================================================  */


    /** 
     * Box Sizing
     * 
     * Applies a natural box layout model to all elements so that width and padding 
     * are essentially combined, making responsive styles easier to manage.
     */

    *, *:before, *:after {
      @include prefixer(box-sizing, border-box);
    }

    html {
      min-height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      @extend html;
      // Website background color and default font styles
      background: #fff;
      color: $color-base;
      font-family: $fontFamily-base;
      font-size: $fontSize-base;
      line-height: $lineHeight-base;
    }

    /**
     * Page Center
     *
     * Apply .container to full-width modules.
     */

    %container {
      float: none;
      margin: 0 auto;
    }

    .container {
      @extend %container;
      max-width: fluidize(700, $context);
    }

    .container-fluid {
      @extend %container;
      max-width: 100%;
    }


    a {
      color: $link-base;
      &:hover, &:focus { color: $link-secondary; }
    }

    hr {
      color: #ccc;
      background-color: #ccc;
      height: 1px;
      border: none;
    }

    /* Highlighted Text */
    ::-moz-selection {
      color: $color-base;
      background: $color-secondary;
      text-shadow: none;
    }
    ::selection {
      color: $color-base;
      background: $color-secondary;
      text-shadow: none;
    }